# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
../.env
venv/
.venv/
ENV/

# FastAPI / Uvicorn
*.sock
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
*.db

# Temp files
*.tmp
*.bak