# FastAPI and Uvicorn dependencies
# ------------------------------------------------------------------------------
fastapi==0.115.13 # https://github.com/fastapi/fastapi
fastapi-users[beanie]==14.0.1  # https://github.com/fastapi-users/fastapi-users
uvicorn==0.34.3   # https://github.com/encode/uvicorn

# Database dependencies
# ------------------------------------------------------------------------------
pydantic==2.11.7 # https://github.com/pydantic/pydantic
pymongo==4.13.2  # https://github.com/mongodb/mongo-python-driver

# ODM (Object Document Mapper) for MongoDB
# ------------------------------------------------------------------------------
beanie==1.30.0  # https://github.com/BeanieODM/beanie

# Env variables management
# ------------------------------------------------------------------------------
python-dotenv==1.1.0 # https://github.com/theskumar/python-dotenv
