# FastAPI and Uvicorn dependencies
# ------------------------------------------------------------------------------
fastapi==0.115.13  # https://github.com/fastapi/fastapi
fastapi-users[sqlalchemy]==14.0.1  # https://github.com/fastapi-users/fastapi-users
uvicorn==0.34.3    # https://github.com/encode/uvicorn

# Database dependencies
# ------------------------------------------------------------------------------
asyncmy==0.2.10  # https://github.com/long2ice/asyncmy

# ORM (Object Relational Mapping) dependencies
# ------------------------------------------------------------------------------
sqlalchemy==2.0.41  # https://github.com/sqlalchemy/sqlalchemy
pydantic==2.11.7    # https://github.com/pydantic/pydantic

# Env variables management
# ------------------------------------------------------------------------------
python-dotenv==1.1.0  # https://github.com/theskumar/python-dotenv
